{{extend 'layout.html'}}
{{block content}}
<div id="content_hero" style="background-image: url({{=URL('static','images/hero-shortcodes.jpg') }})">
  <img src="{{=URL('static','images/scroll-arrow.svg') }}" alt="Scroll down" class="scroll" />
  
  <div class="container">
  <div class="row blurb scrollme animateme" data-when="exit" data-from="0" data-to="1" data-opacity="0" data-translatey="100">
  <div class="col-md-9">
  <span class="title">Des nouveautés chaque jour</span>
  <h1>Personnel</h1>
  </div>
  </div>
  </div>
  </div>


<div  class="container">
<br/>
<h1 class="inline-block margin-right-100">Ajouter une personne</h1> 
<h1 class="inline-block bold-font-a"><a class="btn" href="{{=URL(c='personne', f='list_personne')}}">Liste des personnels</a></h1>
<br/><br/>

{{if pdf_url != None:}}
<div class="alert alert-success">
  {{if message:}}{{=message}}.{{pass}} 
  <span>
    <a class="btn circle" style="background-color: black; color: white;" target="_blank" href="{{=URL('static', pdf_url) }}">
      Télécharger Votre ticket maintenant.(La dernière réservation)
    </a>
  </span>
</div>
{{pass}}
{{if mode_reservation:}}
<div class="alert alert-info">
  <span>En mode de réservation.</span>
</div>
{{else:}}
<div class="alert alert-info">
  <span>En mode d'ajout Personnel.</span>
</div>
{{pass}}

  {{=form}}
</div>
{{end content}}