{{extend 'layout.html'}}
{{block content}}

<div
    id="content_hero"
    style="background-image: url({{=URL('static','images/hero-single-movie.jpg') }})"
>
    <img
        src="{{=URL('static','images/scroll-arrow.svg') }}"
        alt="Scroll down"
        class="scroll"
    >

    <div class="container">
        <div
            class="row blurb scrollme animateme"
            data-when="exit"
            data-from="0"
            data-to="1"
            data-opacity="0"
            data-translatey="100"
        >
            <div class="col-md-9">
                <span class="title">Action, Adventure, Sci-Fi</span>

                <h1>Transformers: The Last Knight</h1>

                <p>
                    Humans and Transformers are at war, Optimus Prime is gone. The key to saving our future lies buried in the secrets of the past, in the hidden history of Transformers on Earth.
                </p>

                <div class="buttons">
                    <span class="certificate">PG</span>

                    <a
                        href="https://youtu.be/RhFMIRuHAL4"
                        data-vbtype="video"
                        class="venobox btn btn-default"
                    >
                        <i class="material-icons">play_arrow</i>

                        <span>Play trailer</span>
                    </a>

                    <div class="star-rating">
                        <i class="material-icons">star_rate</i>

                        <i class="material-icons">star_rate</i>

                        <i class="material-icons">star_rate</i>

                        <i class="material-icons">star_rate</i>

                        <i class="material-icons">star_rate</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container section single-movie">
    <div class="row">
        <div class="col-sm-7">
            <h2>Synopsis</h2>

            <div class="row">
                <div class="col-sm-5">
                    <img
                        src="{{=URL('static','images/movie-16.jpg') }}"
                        alt="Transformers: The Last Knight"
                        class="poster"
                    >

                    <div class="share">
                        <a href="#">
                            <i class="fa fa-facebook"></i>
                        </a>

                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>

                        <a href="#">
                            <i class="fa fa-pinterest"></i>
                        </a>

                        <a href="#">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </div>
                </div>

                <div class="col-sm-7">
                    <h3 class="no-underline">The plot</h3>

                    <p>
                        Humans and Transformers are at war, Optimus Prime is gone. The key to saving our future lies buried in the secrets of the past, in the hidden history of Transformers on Earth.
                    </p>

                    <p>
                        Optimus Prime finds his home planet, Cybertron, now a dead planet, in which he comes to find he was responsible for killing. He finds a way to bring the planet back to life, but in order to do so, he needs to find an artifact, which is on Earth.
                    </p>

                    <ul class="movie-info">
                        <li>
                            <i>Director</i>

                            Michael Bay
                        </li>

                        <li>
                            <i>Starring</i>

                            Mark Wahlberg, Anthony Hopkins
                        </li>

                        <li>
                            <i>Release date</i>

                            23 June 2017
                        </li>

                        <li>
                            <i>Running time</i>

                            114 mins
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-sm-push-1">
            <h2>Viewing times</h2>

            <ul class="show-times">
                <li>
                    <i>Monday</i>

                    <span class="time past">13:00</span>

                    <span class="time">16:00</span>

                    <span class="time">19:30</span>

                    <span class="time">22:00</span>
                </li>

                <li>
                    <i>Tuesday</i>

                    <span class="time past">13:00</span>

                    <span class="time">15:30</span>

                    <span class="time">19:30</span>

                    <span class="time">22:00</span>
                </li>

                <li class="today">
                    <i>Today</i>

                    <span class="time past">12:00</span>

                    <span class="time">16:00</span>

                    <span class="time">19:30</span>

                    <span class="time">22:00</span>
                </li>

                <li>
                    <i>Thursday</i>

                    <span class="time past">13:00</span>

                    <span class="time">16:00</span>

                    <span class="time">20:15</span>

                    <span class="time">22:00</span>
                </li>

                <li>
                    <i>Friday</i>

                    <span class="time past">13:00</span>

                    <span class="time">14:45</span>

                    <span class="time">19:30</span>

                    <span class="time">22:00</span>
                </li>

                <li>
                    <i>Saturday</i>

                    <span class="time past">14:15</span>

                    <span class="time">16:00</span>

                    <span class="time">19:30</span>

                    <span class="time">22:00</span>
                </li>

                <li>
                    <i>Sunday</i>

                    <span class="time past">13:00</span>

                    <span class="time">16:00</span>

                    <span class="time">19:30</span>

                    <span class="time">22:20</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<section class="dark">
    <div class="container section remove-bottom-padding">
        <div class="row comingSoon-slides singleGallery">
            <div class="col-sm-12">
                <div class="row single-slide slideOne">
                    <div
                        class="bg"
                        style="background: url(images/gallery-bg.png);"
                    ></div>

                    <div class="col-sm-12 slide-video">
                        <a
                            href="https://youtu.be/AntcyqJ6brc"
                            data-vbtype="video"
                            class="venobox video"
                        >
                            <i class="material-icons">play_arrow</i>

                            <img
                                src="{{=URL('static','images/gallery-slide-1.jpg') }}"
                                alt=""
                            >
                        </a>
                    </div>
                </div>

                <div class="row single-slide slideTwo">
                    <div
                        class="bg"
                        style="background: url(images/gallery-bg-2.png);"
                    ></div>

                    <div class="col-sm-12 slide-video">
                        <a
                            href="https://youtu.be/AntcyqJ6brc"
                            data-vbtype="video"
                            class="venobox video"
                        >
                            <i class="material-icons">play_arrow</i>

                            <img
                                src="{{=URL('static','images/gallery-slide-2.jpg') }}"
                                alt=""
                            >
                        </a>
                    </div>
                </div>

                <div class="row single-slide slideThree">
                    <div
                        class="bg"
                        style="background: url(images/gallery-bg.png);"
                    ></div>

                    <div class="col-sm-12 slide-video">
                        <a
                            href="https://youtu.be/AntcyqJ6brc"
                            data-vbtype="video"
                            class="venobox video"
                        >
                            <i class="material-icons">play_arrow</i>

                            <img
                                src="{{=URL('static','images/gallery-slide-1.jpg') }}"
                                alt=""
                            >
                        </a>
                    </div>
                </div>

                <div class="row single-slide slideFour">
                    <div
                        class="bg"
                        style="background: url(images/gallery-bg-2.png);"
                    ></div>

                    <div class="col-sm-12 slide-video">
                        <a
                            href="https://youtu.be/AntcyqJ6brc"
                            data-vbtype="video"
                            class="venobox video"
                        >
                            <i class="material-icons">play_arrow</i>

                            <img
                                src="{{=URL('static','images/gallery-slide-2.jpg') }}"
                                alt=""
                            >
                        </a>
                    </div>
                </div>

                <div class="row single-slide slideFive">
                    <div
                        class="bg"
                        style="background: url(images/gallery-bg.png);"
                    ></div>

                    <div class="col-sm-12 slide-video">
                        <a
                            href="https://youtu.be/AntcyqJ6brc"
                            data-vbtype="video"
                            class="venobox video"
                        >
                            <i class="material-icons">play_arrow</i>

                            <img
                                src="{{=URL('static','images/gallery-slide-1.jpg') }}"
                                alt=""
                            >
                        </a>
                    </div>
                </div>

                <div class="row single-slide slideSix">
                    <div
                        class="bg"
                        style="background: url(images/gallery-bg-2.png);"
                    ></div>

                    <div class="col-sm-12 slide-video">
                        <a
                            href="https://youtu.be/AntcyqJ6brc"
                            data-vbtype="video"
                            class="venobox video"
                        >
                            <i class="material-icons">play_arrow</i>

                            <img
                                src="{{=URL('static','images/gallery-slide-2.jpg') }}"
                                alt=""
                            >
                        </a>
                    </div>
                </div>

                <div class="row single-slide slideSeven">
                    <div
                        class="bg"
                        style="background: url(images/gallery-bg.png);"
                    ></div>

                    <div class="col-sm-12 slide-video">
                        <a
                            href="https://youtu.be/AntcyqJ6brc"
                            data-vbtype="video"
                            class="venobox video"
                        >
                            <i class="material-icons">play_arrow</i>

                            <img
                                src="{{=URL('static','images/gallery-slide-1.jpg') }}"
                                alt=""
                            >
                        </a>
                    </div>
                </div>

                <div
                    class="slick-carousel gallery"
                    id="comingSoon"
                >
                    <div data-dynamicclass="slideOne">
                        <a href="#">
                            <img
                                src="{{=URL('static','images/gallery-thumb-1.png') }}"
                                alt=""
                            >
                        </a>
                    </div>

                    <div data-dynamicclass="slideTwo">
                        <a href="#">
                            <img
                                src="{{=URL('static','images/gallery-thumb-2.png') }}"
                                alt=""
                            >
                        </a>
                    </div>

                    <div data-dynamicclass="slideThree">
                        <a href="#">
                            <img
                                src="{{=URL('static','images/gallery-thumb-3.png') }}"
                                alt=""
                            >
                        </a>
                    </div>

                    <div data-dynamicclass="slideFour">
                        <a href="#">
                            <img
                                src="{{=URL('static','images/gallery-thumb-4.png') }}"
                                alt=""
                            >
                        </a>
                    </div>

                    <div data-dynamicclass="slideFive">
                        <a href="#">
                            <img
                                src="{{=URL('static','images/gallery-thumb-5.png') }}"
                                alt=""
                            >
                        </a>
                    </div>

                    <div data-dynamicclass="slideSix">
                        <a href="#">
                            <img
                                src="{{=URL('static','images/gallery-thumb-6.png') }}"
                                alt=""
                            >
                        </a>
                    </div>

                    <div data-dynamicclass="slideSeven">
                        <a href="#">
                            <img
                                src="{{=URL('static','images/gallery-thumb-4.png') }}"
                                alt=""
                            >
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{{end content}}